    /*
    Flaticon icon font: Flaticon
    Creation date: 16/02/2019 12:30
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-2-squares:before { content: "\f100"; }
.flaticon-tuxedo:before { content: "\f101"; }
.flaticon-order:before { content: "\f102"; }
.flaticon-sort:before { content: "\f103"; }
.flaticon-clothes:before { content: "\f104"; }
.flaticon-fashion:before { content: "\f105"; }
.flaticon-spray:before { content: "\f106"; }
.flaticon-shirt:before { content: "\f107"; }
.flaticon-shirt-1:before { content: "\f108"; }
.flaticon-user:before { content: "\f109"; }
.flaticon-order-1:before { content: "\f10a"; }
.flaticon-analytics:before { content: "\f10b"; }
.flaticon-rating:before { content: "\f10c"; }
.flaticon-email:before { content: "\f10d"; }
    
    $font-Flaticon-2-squares: "\f100";
    $font-Flaticon-tuxedo: "\f101";
    $font-Flaticon-order: "\f102";
    $font-Flaticon-sort: "\f103";
    $font-Flaticon-clothes: "\f104";
    $font-Flaticon-fashion: "\f105";
    $font-Flaticon-spray: "\f106";
    $font-Flaticon-shirt: "\f107";
    $font-Flaticon-shirt-1: "\f108";
    $font-Flaticon-user: "\f109";
    $font-Flaticon-order-1: "\f10a";
    $font-Flaticon-analytics: "\f10b";
    $font-Flaticon-rating: "\f10c";
    $font-Flaticon-email: "\f10d";