body.login {
     background: #fff !important;

}

body {
     background: rgba(0,0,0,0.02) !important;
     font-size: 0.9rem !important;
     font-weight: 200;
}

input[type='number'] {
     width: 100%;
}

.btn-xs {
    padding: 0.25rem .6rem !important;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0rem;
}

.card {

    background-color: #fff;
    border: 1px solid rgba(0,0,0,.05);
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px;

}

.card-header {
    padding: 1.5rem 2rem
    -webkit-box-shadow: 0 0.125rem 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 5px rgba(0, 0, 0, 0.1);
}

.table td, .table th
{
    vertical-align: middle;
}

/*Profile Card 1*/
.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

.profile-card .card-header {
    padding: 1.5rem 2rem 0px;
    -webkit-box-shadow: 0 0.125rem 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 5px rgba(0, 0, 0, 0.1);
}

.profile-card .nav-tabs .nav-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

span.badge.badge-md{
    font-weight: 200;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

.line {
    margin: .5rem 0 !important;
}
.pl-xl-5, .px-xl-5 {

    padding-left: 1rem !important;

}
.pr-xl-5, .px-xl-5 {

    padding-right: 1rem !important;

}

th.w-100 {
    min-width: 100px;
}
th.w-150 {
    min-width: 150px;
}
th.w-200 {
    min-width: 200px;
}

.btn {
    font-weight: 400;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 0.9rem;
    border-radius: 0rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
