	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/02/2019 12:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-2-squares:before { content: "\f100"; }
.flaticon-tuxedo:before { content: "\f101"; }
.flaticon-order:before { content: "\f102"; }
.flaticon-sort:before { content: "\f103"; }
.flaticon-clothes:before { content: "\f104"; }
.flaticon-fashion:before { content: "\f105"; }
.flaticon-spray:before { content: "\f106"; }
.flaticon-shirt:before { content: "\f107"; }
.flaticon-shirt-1:before { content: "\f108"; }
.flaticon-user:before { content: "\f109"; }
.flaticon-order-1:before { content: "\f10a"; }
.flaticon-analytics:before { content: "\f10b"; }
.flaticon-rating:before { content: "\f10c"; }
.flaticon-email:before { content: "\f10d"; }