.grid {
     width: 100%;
     margin: 0 auto;
}

.grid-item {
     margin-bottom: 10px;
     position: relative;
     margin: 0 auto;
     list-style: none;
     text-align: center;
}

.grid-item img {
     width: 100%;
}

.grid-item::after {
     clear: both;
}

.grid-item.grid-67 {
     width: 66%;
}

.grid-item.grid-50 {
     width: 50%;
}

.grid-item.grid-25 {
     width: 24%;
}

.grid-item.grid-33 {
     width: 33%;
     margin: 0 .15%;
}




/* Common style */
.grid-item figure {
     position: relative;
     overflow: hidden;
     max-width: 100%;
     max-height: 360px;
     width: 100%;
     text-align: center;
     cursor: pointer;
}

.grid-item figure img {
     position: relative;
     display: block;
     min-height: 100%;
     max-width: 100%;
     opacity: 0.8;
     object-fit: cover;
}

.grid-item figure figcaption {
     padding: 2em;
     color: #fff;
     text-transform: uppercase;
     font-size: 1.25em;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}

.grid-item figure figcaption::before,
.grid-item figure figcaption::after {
     pointer-events: none;
}

.grid-item figure figcaption,
.grid-item figure figcaption>a {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

/* Anchor will cover the whole item by default */
.grid-item figure figcaption>a {
     z-index: 1000;
     text-indent: 200%;
     white-space: nowrap;
     font-size: 0;
     opacity: 0;
}

.grid-item figure h2 {
     word-spacing: -0.15em;
     font-weight: 300;
}

.grid-item figure h2 span {
     font-weight: 800;
}

.grid-item figure h2,
.grid-item figure p {
     margin: 0;
}

.grid-item figure p {
     letter-spacing: 1px;
     font-size: 105%;
}

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla img {
    height: 390px;
}

figure.effect-layla figcaption {
    padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
     position: absolute;
     content: '';
     opacity: 0;
}

figure.effect-layla figcaption::before {
     top: 50px;
     right: 30px;
     bottom: 50px;
     left: 30px;
     border-top: 1px solid #fff;
     border-bottom: 1px solid #fff;
     -webkit-transform: scale(0, 1);
     transform: scale(0, 1);
     -webkit-transform-origin: 0 0;
     transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
     top: 30px;
     right: 50px;
     bottom: 30px;
     left: 50px;
     border-right: 1px solid #fff;
     border-left: 1px solid #fff;
     -webkit-transform: scale(1, 0);
     transform: scale(1, 0);
     -webkit-transform-origin: 100% 0;
     transform-origin: 100% 0;
}

figure.effect-layla h2 {
     padding-top: 26%;
     -webkit-transition: -webkit-transform 0.35s;
     transition: transform 0.35s;
}

figure.effect-layla p {
     text-transform: none;
     font-size: .9rem;
     width: 100%;
     color: #f17b21;
     opacity: 0;
     -webkit-transform: translate3d(0, -10px, 0);
     transform: translate3d(0, -10px, 0);
}

figure.effect-layla img,
figure.effect-layla h2 {
     -webkit-transform: translate3d(0, -30px, 0);
     transform: translate3d(0, -30px, 0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
     transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
     opacity: 0.7;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
     opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
     -webkit-transition-delay: 0.15s;
     transition-delay: 0.15s;
}


/*---------------*/
/***** Sadie *****/
/*---------------*/
figure.effect-sadie img {
     height: 390px;
}
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-35%,0);
	transform: translate3d(0,-35%,0);
}

figure.effect-sadie a.btn {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	color: #fff;
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-35%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-35%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover a.btn {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
