
/* PAYMENT CSS */

.paymentWrap .paymentBtnGroup {
	max-width: 800px;
	margin: auto;
}

.paymentWrap .paymentBtnGroup .paymentMethod {
    padding: 5% 7%;
    box-shadow: none;
	position: relative
    border: 1px solid #444;
    border-radius: 3px;
}

.paymentWrap input {
    display:none;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
	outline: none !important;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
	outline: none !important;
	box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	transition: all 0.5s;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.visa {
	background-image: url("./../img/svg/visa.svg");
}


.paymentWrap .paymentBtnGroup .paymentMethod .method.cash {
	background-image: url("./../img/svg/hand.svg");
}


.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
	border-color: #7b7b7b;
	outline: none !important;
}
