/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
     .hero .row {
          justify-content: space-around;
          margin: 0 auto
     }

     .hero-content {
          text-align: center;
     }

     /* Resize the heading */
     .hero-content h1 {
          font-size: 3.5rem;
     }

     .hero-content button {
          font-size: 1rem;
     }

     /* Position the sticky bar */
     .top {
          top: 20px;
     }

     .left {
          left: 16px
     }

     section h1.heading {
          font-size: 2rem;
          margin-bottom: 100px;
     }

     .features .col-12 {
          padding: 0 20px;
     }

     .grid-item.grid-67 {
          width: 100%;
     }

     .grid-item.grid-50 {
          width: 100%;
     }

     .grid-item.grid-25 {
          width: 100%;
     }

     .grid-item.grid-33 {
          width: 100%;
     }

     .guarantee {
          height: 70vh;
     }

     .guarantee h1 {
          font-size: 2rem;
          width: 100%;
          margin: 30px 0px 50px;
     }

     footer .col-2_5 {
          width: 80%;
          margin: 20px auto;
          text-align: center;
     }

     footer .row:last-child h4 {
          font-size: .9rem;
     }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
     /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
     /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     .navbar-nav a {

          font-size: .75rem;
          margin-right: .1rem;
          margin-left: .1rem;
     }

     .hero-content button {
          font-size: 1.3rem;
     }

     .features .card .card-title {
          font-size: 1.2rem;
          width: 100%;
          margin: 0 auto;
     }

     .features .card-footer {
          font-size: 1rem;
          font-weight: 100;
          font-family: Dax;
          padding: .75rem 0px;
     }

     .grid-item.grid-67 {
          width: 50%;
     }

     .grid-item.grid-50 {
          width: 50%;
     }

     .grid-item.grid-25 {
          width: 50%;
     }

     .grid-item.grid-33 {
          width: 50%;
          margin: 0px;
     }

     footer .col-2_5 {
          width: 50%;
          margin: 20px auto;
          text-align: center;
     }

     footer .row:last-child h4 {
          font-size: .9rem;
     }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
     /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
     /* Styles */
}

/**********
  iPad 3
  **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
     /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
     /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
     /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
     /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
     /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
     /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
     /* Styles */
}