/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: "Daxline Bold";
    src: url("../fonts/DaxlinePro-Bold.ttf");
}

@font-face {
    font-family: "Dauphinn";
    src: url("../fonts/Dauphinn.ttf");
}

@font-face {
    font-family: "Dax";
    src: url("../fonts/DaxRegular.ttf");
}

@font-face {
    font-family: "Dax Italics";
    src: url("../fonts/DaxItalic.ttf");
}

body {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    body {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 22px;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'source sans pro', serif;
}

body {
    font-family: 'source sans pro', sans-serif;
    background: #fafafa;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
}

p {
    font-family: 'source sans pro', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    color: #444;
    background: #fff;
    transition: all 0.3s;
    font-family: 'dauphinn', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* overflow-y: scroll; */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #f17b21;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #f17b21;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #f17b21;
    background: #ffffff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffffff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #ffffff;
}

a.article,
a.article:hover {
    background: #ffffff !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.bg-orange {
    background: #f17b21 !important;
    border-color: #f17b21 !important;
}

.navbar-brand img {
    margin-top: -37px;
    border-radius: 5px;
}

.navbar-nav {
    max-height: 40px;
}

.navbar-nav a {
    font-family: 'Daxline Bold';
    font-size: 1.10rem;
    font-style: italic;
    text-transform: uppercase;
    margin-right: 1rem;
    margin-left: 1rem;
}

.navbar {
    margin-top: 40px;
}

/*-------------------------
    HEADER HERO
------------------------- */
header {
    max-width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hero.jpg");
}

.sticky-button {
    position: fixed;
    z-index: 997;
    color: #f17b21;
    font-weight: bolder;
}

.top {
    top: 50px;
}

.left {
    left: 20px
}

.menu-button {
    width: 61px;
    height: 49px;
}

.container.hero {
    margin-top: -80px;
}

.hero .row {
    justify-content: flex-end;
}

.hero-content h1 {
    font-size: 4.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-content button {
    font-family: 'source sans pro', serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: .9rem;
    font-weight: 100;
}

.features {
    background: #eeeeee;
}

section .section-title, h1.heading {
    margin-bottom: 70px;
}

section .section-title h1.heading {
    margin-bottom: 0px;
}

section .section-title h1.heading, section h1.heading {
    font-size: 3.5rem;
    font-family: 'Dauphinn', Georgia, 'Times New Roman', Times, serif;
}

.features .card {
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.54);
    margin-bottom: 25px;
}

.features .card>p {
    color: #f17b21;
}

.features .card .card-title {
    color: #f17b21;
    text-transform: uppercase;
    font-family: 'Dax Italics', 'source sans pro';
    font-weight: 1000;
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
}

.features svg {
    width: 132px;
    height: 132px;
    fill: currentColor;
    vertical-align: bottom;
    margin: 0 auto;
}

.features .card-footer {
    border-top: 1px solid #444;
    background-color: transparent;
    font-size: .8rem;
    font-weight: 100;
    font-family: Dax;
    padding: .75rem 0px;
}

.category {
    background: #1a120f;
}

.category .container-fluid {
    width: 90%;
}

.guarantee {
    max-width: 100%;
    max-height: 100vh;
    height: 80vh;
    background-attachment: fixed;
    background-position: 100% 28%;
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("../img/guarantee.png");
}

.guarantee h1 {
    font-size: 3.5rem;
    color: #f17b21;
    font-family: 'Dax', georgia;
    text-transform: capitalize;
    font-weight: bold;
    width: 300px;
    margin: 30px 0px 70px;
    font-style: italic;
}

.quote {
    background: #fff url('../img/quote.png') 5% 5% no-repeat;
    padding: 5%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.54);
    margin-top: 50px;
    font-size: 1rem;
}

footer {
    background: #000b41;
    max-width: 100%;
    min-height: 80vh;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer .col-2_5 {
    width: 20%;
    font-family: Dax, Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

footer h4 {
    text-transform: uppercase;
    font-family: 'source sans pro';
    letter-spacing: .1em;
}

footer h4 span {
    color: #f17b21;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer li.nav-item a {
    font-size: .9rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .05em;
}

footer p {
    font-size: 1em;
}

/**
** 	UTILITIES
*************************************/
section.main {
    background-color: #fff;
}

a.btn.btn-filter {
    color: #f17b21;
    border: 2px solid #f17b21;
}

.breadcrumb {
    background-color: transparent;
    font-size: 1rem;
}

.filter {
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
}

.filter .form-control {
    border-radius: 0px;
    max-width: 100%;
}

.pre-nxt {
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    margin-top: 15px;
}

.pre-nxt ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pre-nxt li {
    border: 1px solid;
    display: inline-block;
    padding: 2px 7px;
}

.pre-nxt li.pre a {
    padding: 0 0 0 10px;
}

.pre-nxt a:hover {
    text-decoration: underline;
}

.nxt {
    margin: 0 0 0 -4px;
}

.zoom-shirt.img-responsive.stich_box {
    background-repeat: no-repeat;
}

.zoom-shirt {
    position: relative;
    min-height: 432px;
    max-width: 344px;
}

.stitch-box {
    display: block;
    float: left;
    height: 446px;
    min-height: 446px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    font-size: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    /* color: #f17b21; */
    color: #444;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 1) 100%)/*, url(http://lorempixel.com/output/animals-q-g-500-500-9.jpg)*/ no-repeat;
    box-sizing: border-box;
    font-weight: bolder;
}

.customizer h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 15px;
}

.parts-imgs li {
    display: inline-block;
    margin: 0 18px 18px 0px;
    vertical-align: top;
    text-align: center;
}

.parts-imgs li span {
    color: #fff;
    display: block;
    padding: 5px 0;
    font-size: 1rem;
}

.a_cursor {
    cursor: pointer;
}

.colr-img {
    border: 1px solid #a3a3a3;
    overflow: hidden;
    position: relative;
    height: 104px;
    width: 104px;
}

.colr-img img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    max-width: 100%;
}

.parts-imgs li.active .colr-img,
.parts-imgs li:hover .colr-img {
    border: 2px solid #000000;
}

.customizer .btn-noir{
    background: #000000;
    color: #ffffff !important;
    display: inline-block;
    font-size: 1rem;
    padding: 4px 15px;
    opacity: 1;
}

.customizer ul {
    padding-left: 0px;
}

section.customizer {
    padding-top: 25px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),url(../img/bg/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.customizer .pattern-view {
    padding-bottom: 10px;
}

.customizer .pattern-view span {
    vertical-align: middle;
}

.customizer .pattern-view>input[type="radio"] {
    vertical-align: middle;
    margin: 0 5px;
}

.custom-form-control {
    height: 36;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #cdcccc;
    border-bottom: 2px solid #cdcccc;
    height: 35px;
    /* line-height: 34px; */
    vertical-align: middle;
    font-size: 14px;
    color: #7a7a7a;
    padding: 0 10px;
    margin: 0 0 0 0;
    outline: none;
    border-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

video {
    width: 100%;

}

.toggle_radio {
    position: relative;
    background: rgba(255, 255, 255, .5);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 40px;
    min-width: 318px;
    width: 80%;
}

.toggle_radio p {
    color: #444;
}

.toggle_radio>* {
    float: left;
}

.toggle_radio input[type=radio] {
    display: none;
    /*position: fixed;*/
}

.toggle_radio label {
    /* font: 90%/1.618 "Source Sans Pro"; */
    color: rgba(0, 0, 0, .3);
    z-index: 0;
    display: block;
    width: 48%;
    height: 40px;
    line-height: 2.618;
    margin: 7px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/
    /*make it blue*/
}

.toggle_option_slider {
    /*display: none;*/
    /*background: red;*/
    width: 48%;
    height: 34px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#first_toggle:checked~.toggle_option_slider {
    background: rgba(255, 255, 255, .5);
    left: 1%;
}

.breadcrumb-item.active {
    color: #fff;
}

#second_toggle:checked~.toggle_option_slider {
    background: rgba(255, 255, 255, .5);
    left: 51%;
}
input[type="number"].vslot {
    height: 30px !important;
}
